<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar" >
		<ul class="sidebar-nav" id="sidebar-nav">
			<li class="nav-item"><a class="nav-link " href="dashboard">
					<i class="bi bi-grid"></i> <span>Dashboard</span>
			</a></li>
			<!-- End Dashboard Nav -->
			<li class="nav-item"><a class= "nav-link collapsed "
				data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-text"></i><span>상품관리</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>
				<ul id="forms-nav" class="nav-content collapse "
					data-bs-parent="#sidebar-nav">
					<li><a th:href="@{'adminManager'}"> <i
							class="bi bi-circle"></i><span>상품정보</span>
					</a></li>
					<li><a th:href="@{'insert'}"> <i class="bi bi-circle"></i><span>상품등록</span>
					</a></li>
				</ul></li>
			<!-- End Forms Nav -->

			<li class="nav-item"><a class="nav-link collapsed"
				data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-text"></i><span>회원관리</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>
				<ul id="forms-nav" class="nav-content collapse "
					data-bs-parent="#sidebar-nav">
					<li><a th:href="@{'usermanager?page=1'}"> <i
							class="bi bi-circle"></i><span>회원정보</span>
					</a></li>
				</ul></li>
			<!-- End Forms Nav -->

			<li class="nav-item"><a class="nav-link collapsed"
				data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-text"></i><span>주문관리</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>
				<ul id="forms-nav" class="nav-content collapse "
					data-bs-parent="#sidebar-nav">
					<li><a th:href="@{'purchasemanager?page=1'}"> <i
							class="bi bi-circle"></i><span>주문정보</span>
					</a></li>
				</ul></li>
			<!-- End Forms Nav -->
			<li class="nav-item"><a class="nav-link collapsed"
				data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-text"></i><span>QnA관리</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>
				<ul id="forms-nav" class="nav-content collapse "
					data-bs-parent="#sidebar-nav">
					<li><a th:href="@{'qnamanager?page=1'}"> <i
							class="bi bi-circle"></i><span>QnA정보</span>
					</a></li>
				</ul></li>
			<!-- End Forms Nav -->

			<li class="nav-item"><a class="nav-link collapsed"
				data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-text"></i><span>경매상품관리</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>
				<ul id="forms-nav" class="nav-content collapse "
					data-bs-parent="#sidebar-nav">
					<li>
						<!-- <a th:href=""></a>  --> <a
						th:href="@{'auctionmanager?page=1'}"> <i
							class="bi bi-circle"></i><span>경매정보</span>
					</li>
				</ul></li>
				<li class="nav-item"><a class="nav-link collapsed"
				data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-text"></i><span>타임딜상품관리</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>
				<ul id="forms-nav" class="nav-content collapse "
					data-bs-parent="#sidebar-nav">
					<li>
						<!-- <a th:href=""></a>  --> <a
						th:href="@{'timedealmanager?page=1'}"> <i
							class="bi bi-circle"></i><span>타임딜정보</span>
					</li>
				</ul></li>
			<!-- End Forms Nav -->
			<li class="nav-item"><a class="nav-link collapsed"
				href="adminLogin"> <i class="bi bi-box-arrow-in-right"></i>
					<span>Logout</span>
			</a></li>
			<!-- End Login Page Nav -->
		</ul>
	</aside>
	<!-- End Sidebar-->
</th:block>
</html>