<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"> <!-- default layout 사용 -->
      

<!-- 페이지의 개별적인 css, js 설정 영역 -->
<!-- thymeleaf layout dialect가 content페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
    <title>술핑몰</title>

<!-- 페이지의 실제 content 내용 -->

<div layout:fragment="contentFragment">
<script type="text/javascript">
$(document).ready(function() {
	let check = false;
	  $('#password2').keyup(function() {
	    var password1 = $('#password1').val();
	    var password2 = $('#password2').val();
	    if (password1 != password2) {
	      $('#message').html('Password가 일치하지 않습니다.').css('color', 'red');
	      check = false;
	    } else {
	      $('#message').html('Password가 일치합니다.').css('color', 'blue');
	      check = true;
	    }
	  });
	});
</script>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">

	   <div class="d-flex" id="wrapper">
		<div th:insert="~{user/usersidebar::sidebar}"></div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Page content-->
                <div class="container-fluid" >
                    <h4>회원정보 수정</h4><br>
                     <form action="modifyUserInfo" method="post">
                     <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>전화번호<span>*</span></p>
                                        <input type="tel" name="user_tel" th:value="${user.user_tel}"><br>
                                    </div>
                                </div>
								<div class="col-lg-6">
                                </div>
<!--                                 
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>password<span>*</span></p>
                                        <input type="password" id="password1"><br>
                                    </div>

                                </div>
								<div class="col-lg-6">
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>password 확인<span>*</span></p>
                                        <input type="password" id="password2" name="user_passwd"><br>
                                    </div>
                                                                        <div id="message"></div>
                                </div>
                         
								<div class="col-lg-6">
                                </div>
 -->                              
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" name="user_email" th:value="${user.user_email}" th:readonly="${user_auth eq 'K' or user_auth eq 'G' ? 'readonly': false}">구글/카카오 회원 수정불가<br>
                                    </div>
                                </div>
								<div class="col-lg-6">
                                </div>
                            </div>
                            

							<div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>우편번호<span>*</span></p>
                                        <input type="text" id="sample6_postcode" placeholder="우편번호" th:value="${user.user_zipcode}" th:name="user_zipcode">
                                    </div>
                                </div>
								<div class="col-lg-6">
								<div class="checkout__input">
                                        <p>우편번호<span>*</span></p>
                                        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br><br>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="checkout__input">
                                <p>주소<span>*</span></p>
                                <input type="text" id="sample6_address" placeholder="주소" th:value="${user.user_addr}" th:name="user_addr"><br>
                            </div>
                            <div class="checkout__input">
                                <p>상세주소<span>*</span></p>
                                <input type="text" id="sample6_detailAddress" placeholder="상세주소" th:value="${user.user_addr2}">
                                <input type="hidden" id="sample6_extraAddress" placeholder="참고항목">
								</div>
								</div>
                            </div>
								<input type="submit">
                    </form>
                        </div>
                    </div>
                     
                     
                    
                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
								<script>
									function sample6_execDaumPostcode() {	// 카카오 우편번호 찾기 api 적용
										new daum.Postcode(
												{
													oncomplete : function(data) {
														// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

														// 각 주소의 노출 규칙에 따라 주소를 조합한다.
														// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
														var addr = ''; // 주소 변수
														var extraAddr = ''; // 참고항목 변수

														//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
														if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
															addr = data.roadAddress;
														} else { // 사용자가 지번 주소를 선택했을 경우(J)
															addr = data.jibunAddress;
														}

														// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
														if (data.userSelectedType === 'R') {
															// 법정동명이 있을 경우 추가한다. (법정리는 제외)
															// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
															if (data.bname !== ''
																	&& /[동|로|가]$/g
																			.test(data.bname)) {
																extraAddr += data.bname;
															}
															// 건물명이 있고, 공동주택일 경우 추가한다.
															if (data.buildingName !== ''
																	&& data.apartment === 'Y') {
																extraAddr += (extraAddr !== '' ? ', '
																		+ data.buildingName
																		: data.buildingName);
															}
															// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
															if (extraAddr !== '') {
																extraAddr = ' ('
																		+ extraAddr
																		+ ')';
															}
															// 조합된 참고항목을 해당 필드에 넣는다.
															document
																	.getElementById("sample6_extraAddress").value = extraAddr;

														} else {
															document
																	.getElementById("sample6_extraAddress").value = '';
														}

														// 우편번호와 주소 정보를 해당 필드에 넣는다.
														document
																.getElementById('sample6_postcode').value = data.zonecode;
														document
																.getElementById("sample6_address").value = addr;
														// 커서를 상세주소 필드로 이동한다.
														document
																.getElementById(
																		"sample6_detailAddress")
																.focus();
													}
												}).open();
									}
								</script>
        </div>



            </div>
        </div>
    </section>
    <!-- Blog Section End -->

</div>
</html>