<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"> <!-- default layout 사용 -->
      

<!-- 페이지의 개별적인 css, js 설정 영역 -->
<!-- thymeleaf layout dialect가 content페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
    <title>술핑몰</title>

<!-- 페이지의 실제 content 내용 -->

<div layout:fragment="contentFragment">

    
            <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>와인</h2>
                        <div class="breadcrumb__option">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>카테고리</h4>
                            <ul>
                                <li><a href="/sojucategory">소주</a></li>
                            		<li><a href="/beercategory">맥주</a></li>
                           			<li><a href="/winecategory">와인</a></li>
                           		 <li><a href="/liqueurcategory">리큐르</a></li>
                           		 <li><a href="/brandicategory">브랜디&꼬냑</a></li>
                           		 <li><a href="/chinacategory">진</a></li>
                           		 <li><a href="/japancategory">일본술</a></li>
                          		  <li><a href="/tequilacategory">데킬라</a></li>
                          		  <li><a href="/wiskeycategory">위스키</a></li>
                           		 <li><a href="/vodkacategory">보드카</a></li>
                           		 <li><a href="/champagnecategory">럼</a></li>
                                </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="10" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item sidebar__item__color--option">
                            <h4>Colors</h4>
                            <div class="sidebar__item__color sidebar__item__color--white">
                                <label for="white">
                                    White
                                    <input type="radio" id="white">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--gray">
                                <label for="gray">
                                    Gray
                                    <input type="radio" id="gray">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--red">
                                <label for="red">
                                    Red
                                    <input type="radio" id="red">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--black">
                                <label for="black">
                                    Black
                                    <input type="radio" id="black">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--blue">
                                <label for="blue">
                                    Blue
                                    <input type="radio" id="blue">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--green">
                                <label for="green">
                                    Green
                                    <input type="radio" id="green">
                                </label>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <h4>Popular Size</h4>
                            <div class="sidebar__item__size">
                                <label for="large">
                                    Large
                                    <input type="radio" id="large">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="medium">
                                    Medium
                                    <input type="radio" id="medium">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="small">
                                    Small
                                    <input type="radio" id="small">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="tiny">
                                    Tiny
                                    <input type="radio" id="tiny">
                                </label>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
        <h4>Latest Products</h4>
        <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item" th:each="latest : ${latest}">
                <a href="#" class="latest-product__item">
                    <div class="latest-product__item__pic">
                        <img th:src="@{/images/product/__${latest.product_img}__}" alt="">
                    </div>
                    <div class="latest-product__item__text">
                        <h6 th:text="${latest.product_name}"></h6>
                        <span th:text="${latest.product_price}"></span>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                 <div class="col-lg-4" th:each="time : ${timedeal}" >
                                    <div class="product__discount__item">
                                             <div class="product__discount__item__pic set-bg" th:data-setbg="@{/images/product/__${time.product_img}__}">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                               <li><a th:href="@{'addCart?product_num='+${time.product_no}+'&cart_cnt=1'}"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span th:text="${time.product_type}"></span>
                                            <h5 th:text="${time.product_name}"><a href="#"></a></h5>
                                            <div class="product__item__price" th:text="${time.discount}"><span th:text="${time.product_price}"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>16</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" th:each="product : ${products}">
						    <div class="product__item">
						        <div class="product__item__pic set-bg" th:data-setbg="@{/images/product/__${product.product_img}__}">
						            <ul class="product__item__pic__hover">
						                <li><a href="#"><i class="fa fa-heart"></i></a></li>
						                <li><a th:href="@{/productdetail(product_no=${product.product_no})}"><i class="fa fa-external-link"></i></a></li>
						                <li><a th:href="@{'addCart?product_num='+${product.product_no}+'&cart_cnt=1'}"><i class="fa fa-shopping-cart"></i></a></li>
						            </ul>
						        </div>
						        <div class="product__item__text">
						            <h6><a href="#" th:text="${product.product_name}"></a></h6>
						            <h5 th:text="${product.product_price}+'원'"></h5>
						        </div>
						    </div>
						</div>
                    </div>
                    
                    <nav aria-label="Page navigation example" >
  <ul class="pagination justify-content-center">
    <li class="page-item"><span th:if="${pageVo.startPage > 1}">
        	<a class="page-link" th:href="@{'/winecategory?page=1'}" th:text="'처음&emsp;'" th:style="${'text-decoration: none; color:black;'}" ></a>
    	</span>
    </li>
    <li class="page-item">
    	<span th:if="${pageVo.isPrev == true}">
    		<a class="page-link" th:href="@{'/winecategory?page='+${pageVo.startPage - 1}}" th:text="'이전'" th:style="${'text-decoration: none; color:black;'}"></a>
    	</span>
    </li>
   <th:block  th:with="start = ${pageVo.startPage}, end = ${pageVo.endPage}">
	    <li th:classappend="${pageNum == page ? 'page-item active' : 'page-item'}" th:with="start = ${pageVo.startPage}, end = ${pageVo.endPage}" th:each="pageNum : ${#numbers.sequence(start, end)}">
	    		<a class="page-link" th:href="@{/winecategory?(page=${pageNum})}" th:text="|&emsp;${pageNum}&emsp;|" th:style="${'text-decoration: none; color:black;'}"></a>
	    </li>
    </th:block>
    <li class="page-item"> 
    	<span th:if="${pageVo.isNext == true}">
			<a class="page-link" th:href="@{'/winecategory?page='+|${pageVo.endPage + 1}|}" th:text="'다음'" th:style="${'text-decoration: none; color:black;'}"></a>
    	</span>
    </li>
    <li class="page-item">
    	<span th:if="${pageVo.endPage < pageVo.totalPageCount}">
			<a class="page-link" th:href="@{'/winecategory?page='+${pageVo.totalPageCount}}" th:text="|&emsp;끝|" th:style="${'text-decoration: none; color:black;'}"></a>
    	</span>
    </li>
  </ul>
</nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

</div>
   
</html>