<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentsAdmin/layout}"> <!-- default layout 사용 -->
      

<!-- 페이지의 개별적인 css, js 설정 영역 -->
<!-- thymeleaf layout dialect가 content페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
    <title>술핑몰</title>

<!-- 페이지의 실제 content 내용 -->

<div layout:fragment="contentFragment">
<main id="main" class="main">
   <table>
		<tr>
			<th>고객번호</th>
			<th>고객아이디</th>
			<th>고객이름</th>
			<th>고객이메일</th>
			<th>고객성별</th>
			<th>전화번호</th>
			<th>생년월일</th>
			<th>고객상태</th>
			<th>보유금액</th>
			<th>보유포인트</th>
			<th>상태변경</th>
		</tr>
		<tr th:each="user: ${users}" id="userInfo">
			<td><div th:text="${user.user_no}"></div><input type="hidden" id="user_no" th:value="${user.user_no}"></td>
			<td>[[${user.user_id}]]</td>
			<td>[[${user.user_name}]]</td>
			<td>[[${user.user_email}]]</td>
			<td>[[${user.user_gen}]]</td>
			<td>[[${user.user_tel}]]</td>
			<td>[[${user.user_birth}]]</td>
			<td>[[${user.user_state}]]</td>
			<td>[[${user.user_cash}]]</td>
			<td>[[${user.user_point}]]</td>
			<td>
			<button type="button"  name="btnChStatus" th:value="${user.user_no}">변경</button>
			</td>
		</tr>
	</table>
<nav aria-label="Page navigation example" >
  <ul class="pagination justify-content-center">
    <li class="page-item"><span th:if="${pageVo.startPage > 1}">
        	<a class="page-link" th:href="@{'usermanager?page=1'}" th:text="'처음&emsp;'" th:style="${'text-decoration: none; color:black;'}" ></a>
    	</span>
    </li>
    <li class="page-item">
    	<span th:if="${pageVo.isPrev == true}">
    		<a class="page-link" th:href="@{'usermanager?page='+${pageVo.startPage - 1}}" th:text="'이전'" th:style="${'text-decoration: none; color:black;'}"></a>
    	</span>
    </li>
   <th:block  th:with="start = ${pageVo.startPage}, end = ${pageVo.endPage}">
	    <li th:classappend="${pageNum == page ? 'page-item active' : 'page-item'}" th:with="start = ${pageVo.startPage}, end = ${pageVo.endPage}" th:each="pageNum : ${#numbers.sequence(start, end)}">
	    		<a class="page-link" th:href="@{usermanager?(page=${pageNum})}" th:text="|&emsp;${pageNum}&emsp;|" th:style="${'text-decoration: none; color:black;'}"></a>
	    </li>
    </th:block>
    <li class="page-item"> 
    	<span th:if="${pageVo.isNext == true}">
			<a class="page-link" th:href="@{'usermanager?page='+|${pageVo.endPage + 1}|}" th:text="'다음'" th:style="${'text-decoration: none; color:black;'}"></a>
    	</span>
    </li>
    <li class="page-item">
    	<span th:if="${pageVo.endPage < pageVo.totalPageCount}">
			<a class="page-link" th:href="@{'usermanager?page='+${pageVo.totalPageCount}}" th:text="|&emsp;끝|" th:style="${'text-decoration: none; color:black;'}"></a>
    	</span>
    </li>
  </ul>
</nav>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid justify-content-center">
    <form class="d-flex" action="/admin/adminManagerUserSearch" method="get">
    	<select class="form-select" aria-label="Default select example" name="searchUser">
  			<option value="user_id" th:checked="checked">아이디</option>
  			<option value="user_name">이름</option>
		</select>
      <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="searchValue">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
</main>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">x</span>
    <p>상태변경을 진행할까요?</p>
    <button class="confirmUpdate">확인</button>
  </div>
</div>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	let btnPno = "";
  	let uplink = '/updateUser?user_no=';
	
  $("button[name=btnChStatus]").on("click", function() {
	  btnPno = $(this).val();
	  $(".modal").fadeIn();
   });
  
  $(".confirmUpdate").click(function(){
		location.href = uplink + btnPno;
	});
	$(".close").click(function(){
		$(".modal").fadeOut();
	});
/*]]>*/
</script>
</div>
</html>